<h3>Welcome</h3>

<div class="nav">
  <a href="/">Home</a> |
  <a href="/recipes">View All Recipes</a> |
  <a href="/tags">Tags</a>
</div>

<hr>
<br>
<h5>Create a new Recipe</h5>

<form action="/recipes" method="post">
  <div class="form-group">
    <label for="new-recipe-name">New Recipe Name</label>
    <input type="text" name="recipe-name" id="new-recipe-name" required>

    <label for="new-ingedients">All Ingedients</label>
    <input type="text" name="ingedients" id="new-ingedients" required>

    <label for="new-instructions">All Instructions</label>
    <input type="text" name="instructions" id="new-instructions" required>

    <label for="new-rating">Your Rating</label>
    <input type="text" name="rating" id="new-rating" placeholder="ex.   3.5" required>

    <label>Select a Tag</label><br>

    <% if @tags.any?() %>
      <select name="tag_id" class="browser-default">
        <option value=""></option>
        <% @tags.each() do |tag| %>
          <option value="<%= tag.id()%>"><%= tag.name() %></option>
        <% end %>
      </select><br><br>
    <% end %>
  </div>
  <button class="btn" type="submit">Create Recipe</button>
</form>
<hr>
<br><br>

<form action="/tags" method="post">
  <label for="tag">New Tag</label>
  <input type="text" name="tag" id="tag" placeholder="ex. Desert" required>
  <button type="submit" name="button" class="btn">Create Tag</button>
</form>
