<h3>Recipe Detail</h3>

<div class="nav">
  <a href="/">Home</a> |
  <a href="/recipes">View All Recipes</a>
</div>

<hr>

<h4>Ingredients:</h4>

<p><%= @recipes.ingredients %></p>

<h4>Instructions:</h4>

<p><%= @recipes.instructions %></p>

<h4>Rating:</h4>

<p><%= @recipes.ratings %></p>
