<h3>Recipe List</h3>

<div class="nav">
  <a href="/">Home</a> |
  <a href="/recipes">View All Recipes</a> |
  <a href="/tags">Tags</a>
</div>

<hr>

<% if @recipes.any?() %>
  <h5>Here are your recipes:</h5>

  <ul>
    <% @recipes.each() do |recipe| %>
      <li><a href="/recipe/<%= recipe.id()%>"><%= recipe.name() %></a></li>
    <% end %>
  </ul>

<% else %>

    <p>There are no recipes yet!</p>

<% end %>
